[user]
	name = {{ git_user_name }}
	email = {{ git_user_email }}

[merge]
	conflictstyle = diff3

[alias]
	hist = log --all --graph --decorate --color --oneline --date-order

[core]
	editor = vim
	excludesfile = ~/.gitexcludes

[rerere]
	enabled = true
